.flipclock-plate {
	background: transparent url(../img/flipper-l.png) left top no-repeat;
	padding-left: 3px;
	line-height: 64px;
	height: 64px;
	
	display: inline-block;
	position: relative;
	overflow: hidden;
}
.flipclock-plate .flipclock-plate-r {
	background: transparent url(../img/flipper-r.png) right top no-repeat;
	padding-right: 3px;
	line-height: 64px;
	height: 64px;
	
	display: inline-block;
}
.flipclock-plate .flipclock-plate-c {
	padding: 0 .12em;
	line-height: 70px;
	height: 64px;

	color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 54px;
	font-style: normal;
	font-weight: bold;
}

.flipclock-plate .flipclock-plate-c,
.flipclock-plate .flipclock-plate-upper,
.flipclock-plate .flipclock-plate-lower {
	background: transparent url(../img/flipper-c.png) left top repeat-x;
	display: inline-block;
}

.flipclock-plate .flipclock-plate-blind {
	background: transparent url(../img/flipper-top.png) left -2px repeat-x;
	line-height: 64px;
	height: 64px;
	
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.flipclock-plate .flipclock-plate-upper {
	position: absolute;
	height: 34px;
	overflow: hidden;
}

.flipclock-plate .flipclock-plate-lower {
	
}



/** animation */

.animation-1 .flipclock-plate-blind {
	background: transparent url(../img/flipper-anim-1.png) left top repeat-x;
	line-height: 64px;
	height: 64px;
	opacity: .5;
}
.animation-1 .flipclock-plate-upper {
	height: 20px;
}

.animation-2 .flipclock-plate-blind {
	background: transparent url(../img/flipper-anim-2.png) left top repeat-x;
	line-height: 64px;
	height: 64px;
	opacity: .6;
}
.animation-2 .flipclock-plate-upper {
	height: 34px;
}

.animation-3 .flipclock-plate-blind {
	background: transparent url(../img/flipper-anim-3.png) left top repeat-x;
	line-height: 64px;
	height: 64px;
	opacity: .7;
}
.animation-3 .flipclock-plate-upper {
	height: 48px;
}
